html {
    font-size:16px;
    font-family:sans-serif;
}
#hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#word {
    letter-spacing: 5px;
    font-size: 2rem;
    padding: 30px 20px;
    border: 3px black solid;
    text-align: center;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 50px;
}

#letters button {
    padding: 10px;
    margin: 10px;
}

#output {
    display: flex;
    margin-bottom:30px;
    justify-content: center;
    flex-wrap: wrap;
}

#output .step {
    border-right:3px #fff solid;
}

#output .step {
    opacity: 0.1;
}

#output .step img {
    width:80px;
}

@media (min-width: 850px) {
    #output .step img {
        width:100px;
    }
}

#category {
    text-align:center;
    padding: 30px 0px;
    text-transform:uppercase;
}